*.o
slface
tmp
log
vgcore.*
SL_Stor.sqlite
*.sqlite
*.db

build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeFiles/
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cache/
.cmake/
